USE [CashFlowDB]
GO

-- 1. Bảng Tenants (Khách hàng/Công ty)
CREATE TABLE [dbo].[Tenants](
	[TenantId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantCode] [varchar](50) NOT NULL UNIQUE,
	[TenantName] [nvarchar](255) NOT NULL,
	[TaxCode] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[IsActive] [bit] DEFAULT 1,
	[ExpireDate] [datetime] NULL,
	[CreatedDate] [datetime] DEFAULT GETDATE()
)
GO

-- 2. Bảng Branches (Chi nhánh)
CREATE TABLE [dbo].[Branches](
	[BranchId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[BranchName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[IsActive] [bit] DEFAULT 1
)
GO

-- 3. Bảng Roles (Vai trò)
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL
)
GO

-- 4. Bảng Permissions & RolePermissions (Phân quyền chi tiết)
CREATE TABLE [dbo].[Permissions](
	[PermissionCode] [varchar](50) NOT NULL PRIMARY KEY,
	[PermissionName] [nvarchar](100) NULL,
	[GroupName] [nvarchar](50) NULL
)
GO

CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Roles]([RoleId]),
	[PermissionCode] [varchar](50) NOT NULL FOREIGN KEY REFERENCES [dbo].[Permissions]([PermissionCode]),
	PRIMARY KEY ([RoleId], [PermissionCode])
)
GO

-- 5. Bảng Users (Người dùng)
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[BranchId] [int] NULL FOREIGN KEY REFERENCES [dbo].[Branches]([BranchId]),
	[RoleId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Roles]([RoleId]),
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](500) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IsActive] [bit] DEFAULT 1
)
GO

-- 6. Bảng CashFunds (Quỹ tiền) - Đổi decimal(18,2) thành (18,0) cho VND
CREATE TABLE [dbo].[CashFunds](
	[FundId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[BranchId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Branches]([BranchId]),
	[FundName] [nvarchar](100) NOT NULL,
	[AccountNumber] [varchar](50) NULL,
	[Balance] [decimal](18, 0) DEFAULT 0
)
GO

-- 7. Bảng Partners (Đối tác) - Đổi decimal(18,2) thành (18,0) cho VND
CREATE TABLE [dbo].[Partners](
	[PartnerId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[PartnerName] [nvarchar](255) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Type] [varchar](20) NULL, -- 'CUSTOMER' hoặc 'SUPPLIER'
	[InitialDebt] [decimal](18, 0) DEFAULT 0
)
GO

-- 8. [BẢNG MỚI] Bảng Debts (Sổ Công Nợ)
CREATE TABLE [dbo].[Debts](
	[DebtId] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[BranchId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Branches]([BranchId]),
	[PartnerId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Partners]([PartnerId]),
	[DebtType] [varchar](20) NOT NULL CHECK ([DebtType] IN ('RECEIVABLE', 'PAYABLE')), -- Phải thu / Phải trả
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[PaidAmount] [decimal](18, 0) DEFAULT 0,
	[DueDate] [datetime] NULL,
	[Status] [varchar](20) DEFAULT 'PENDING' CHECK ([Status] IN ('PENDING', 'PARTIAL', 'COMPLETED')),
	[Notes] [nvarchar](500) NULL,
	[CreatedDate] [datetime] DEFAULT GETDATE()
)
GO

-- 9. Bảng TransactionCategories (Danh mục thu chi)
CREATE TABLE [dbo].[TransactionCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	[CategoryName] [nvarchar](100) NOT NULL,
	[Type] [varchar](10) NOT NULL CHECK ([Type] IN ('IN', 'OUT'))
)
GO

-- 10. Bảng Transactions (Giao dịch) - Nâng cấp toàn diện
CREATE TABLE [dbo].[Transactions](
	[TransId] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Tenants]([TenantId]),
	
	-- LƯU Ý: Đã bỏ cột BranchId để chuẩn hóa dữ liệu. Chi nhánh sẽ được truy xuất thông qua FundId.
	[FundId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[CashFunds]([FundId]),
	[CategoryId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[TransactionCategories]([CategoryId]),
	[PartnerId] [int] NULL FOREIGN KEY REFERENCES [dbo].[Partners]([PartnerId]),
	
	-- [CỘT MỚI] Liên kết dòng tiền này dùng để thanh toán cho khoản nợ nào
	[DebtId] [bigint] NULL FOREIGN KEY REFERENCES [dbo].[Debts]([DebtId]), 
	
	[TransDate] [datetime] DEFAULT GETDATE(),
	[Amount] [decimal](18, 0) NOT NULL, -- Dùng decimal(18,0)
	[Description] [nvarchar](500) NULL,
	[TransType] [varchar](10) NOT NULL CHECK ([TransType] IN ('IN', 'OUT')),
	[RefNo] [varchar](50) NULL,
	[CreatedBy] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Users]([UserId]),
	[Status] [varchar](20) DEFAULT 'COMPLETED',
	
	-- [CỘT MỚI] Dùng để liên kết 2 giao dịch khi chuyển tiền nội bộ (VD: Rút từ Ngân hàng nhập vào Két sắt)
	[TransferRefId] [bigint] NULL FOREIGN KEY REFERENCES [dbo].[Transactions]([TransId])
)
GO

-- 11. Bảng TransactionAttachments (Đính kèm chứng từ)
CREATE TABLE [dbo].[TransactionAttachments](
	[AttachmentId] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TransId] [bigint] NOT NULL FOREIGN KEY REFERENCES [dbo].[Transactions]([TransId]) ON DELETE CASCADE,
	[FileName] [nvarchar](255) NULL,
	[FilePath] [nvarchar](max) NULL,
	[UploadedDate] [datetime] DEFAULT GETDATE()
)
GO

-- 12. Bảng AuditLogs (Lưu vết hệ thống)
CREATE TABLE [dbo].[AuditLogs](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](100) NULL,
	[ActionType] [varchar](20) NULL,
	[TableName] [varchar](50) NULL,
	[RecordId] [varchar](50) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[ActionDate] [datetime] DEFAULT GETDATE()
)
GO